*.svn
Makefile
Makefile.in
aclocal.m4
admin/Makefile
admin/Makefile.in
autom4te.cache/
conf/Makefile
conf/Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/Makefile
debian/Makefile.in
depcomp
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/Makefile
src/Makefile.in
src/avl/.deps/
src/avl/Makefile
src/avl/Makefile.in
src/httpp/.deps/
src/httpp/Makefile
src/httpp/Makefile.in
src/log/.deps/
src/log/Makefile
src/log/Makefile.in
src/net/.deps/
src/net/Makefile
src/net/Makefile.in
src/thread/.deps/
src/thread/Makefile
src/thread/Makefile.in
src/timing/.deps/
src/timing/Makefile
src/timing/Makefile.in
stamp-h1
web/Makefile
web/Makefile.in
win32/Makefile
win32/Makefile.in
win32/res/Makefile
win32/res/Makefile.in
conf/icecast.xml.dist
conf/icecast_minimal.xml.dist
conf/icecast_shoutcast_compat.xml.dist
conf/icecast_urlauth.xml.dist
src/admin.o
src/auth.o
src/auth_htpasswd.o
src/auth_url.o
src/avl/.libs/
src/avl/libiceavl.la
src/avl/libiceavl_la-avl.lo
src/avl/libiceavl_la-avl.o
src/cfgfile.o
src/client.o
src/connection.o
src/event.o
src/format.o
src/format_flac.o
src/format_kate.o
src/format_midi.o
src/format_ebml.o
src/format_mp3.o
src/format_ogg.o
src/format_skeleton.o
src/format_speex.o
src/format_vorbis.o
src/fserve.o
src/global.o
src/httpp/.libs/
src/httpp/libicehttpp.la
src/httpp/libicehttpp_la-httpp.lo
src/httpp/libicehttpp_la-httpp.o
src/icecast
src/log/.libs/
src/log/libicelog.la
src/log/log.lo
src/log/log.o
src/logging.o
src/main.o
src/md5.o
src/net/.libs/
src/net/libicenet.la
src/net/libicenet_la-resolver.lo
src/net/libicenet_la-resolver.o
src/net/libicenet_la-sock.lo
src/net/libicenet_la-sock.o
src/refbuf.o
src/sighandler.o
src/slave.o
src/source.o
src/stats.o
src/thread/.libs/
src/thread/libicethread.la
src/thread/libicethread_la-thread.lo
src/thread/libicethread_la-thread.o
src/timing/.libs/
src/timing/libicetiming.la
src/timing/libicetiming_la-timing.lo
src/timing/libicetiming_la-timing.o
src/util.o
src/xslt.o
src/yp.o
